<div class="">
  <div class="row h-100 justify-content-center my-1">
    <mat-card class="col-12 col-md-10 col-lg-9 col-xl-8">
      <mat-card-title
        class="row d-flex align-items-center justify-content-between"
      >
        <div class="col-12 col-sm-auto">
          <p class="ellipsis">
            {{ house.name }}
          </p>
        </div>
        <div
          class="col-12 col-sm-auto text-right text-sm-auto"
          *ngIf="houseOwner"
        >
          <button
            type="button"
            mat-icon-button
            [routerLink]="['./edit']"
            [queryParams]="null"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            type="button"
            mat-icon-button
            (click)="onDeleteHouseClicked()"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="onNewRoomClicked()"
            *ngIf="houseOwner && house && house.rooms.length < 10"
          >
            New Room
          </button>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="row">
          <div class="col-12">
            <p>{{ house.description }}</p>
          </div>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-lg-8 order-last order-sm-auto">
            <p *ngIf="house.rooms?.length == 0 && houseOwner">
              This house has no rooms. You can add one by clicking "New Room"
              button above.
            </p>
            <p *ngIf="house.rooms?.length == 0 && !houseOwner">
              This house has no rooms. Unfortunately only house owners can add
              new rooms.
            </p>
            <div class="mat-elevation-z3" *ngIf="house.rooms?.length > 0">
              <mat-table
                [dataSource]="roomsDataSource"
                multiTemplateDataRows
                id="room-table"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let room">
                    <span class="ellipsis">{{ room.name }}</span>
                  </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef>
                    Description
                  </mat-header-cell>
                  <mat-cell *matCellDef="let room">
                    <span class="ellipsis">{{ room.description }}</span>
                  </mat-cell>
                </ng-container>

                <!-- Buttons Column-->
                <ng-container matColumnDef="buttons">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let room"
                    ><div class="col-12 my-2 text-right" *ngIf="houseOwner">
                      <button
                        mat-icon-button
                        (click)="
                          $event.stopPropagation(); onRoomEditClicked(room)
                        "
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        (click)="
                          $event.stopPropagation();
                          onRoomDeleteClicked(room._id)
                        "
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div></mat-cell
                  >
                </ng-container>

                <!-- Expanded Room Details Column-->
                <ng-container matColumnDef="expandedRoomDetails">
                  <mat-cell *matCellDef="let room" [attr.colspan]="3">
                    <div
                      class="row w-100 room-details"
                      [@roomDetailExpand]="
                        room == expandedRoom ? 'expanded' : 'collapsed'
                      "
                      (@roomDetailExpand.start)="roomExpanded($event)"
                    >
                      <app-room-list-room-details
                        class="w-100"
                        [room]="room"
                      ></app-room-list-room-details>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="['name', 'description', 'buttons']"
                ></mat-header-row>

                <mat-row
                  *matRowDef="
                    let row;
                    columns: ['name', 'description', 'buttons']
                  "
                  class="room-data"
                  [class.expanded]="expandedRoom === row"
                  (click)="expandedRoom = expandedRoom === row ? null : row"
                ></mat-row>
                <mat-row
                  *matRowDef="let row; columns: ['expandedRoomDetails']"
                  class="room-details-cell"
                ></mat-row>
              </mat-table>
            </div>
          </div>
          <div class="col-12 col-lg-4 order-lg-last mb-2">
            <mat-card>
              <mat-card-title class="row">
                <div
                  class="col ellipsis"
                  class="row d-flex align-items-center justify-content-between"
                >
                  <div class="col-12 ellipsis">Collaborators</div>
                </div>
              </mat-card-title>
              <mat-card-content class="row">
                <mat-chip-list>
                  <mat-chip [disabled]="true">
                    <span class="collab-login">
                      {{ house.owner?.login }}
                    </span>
                    <span>
                      {{
                        loggedInUser == house.owner?._id ? " (You)" : " (owner)"
                      }}
                    </span>
                  </mat-chip>
                  <mat-chip
                    class="ellipsis"
                    #collaboratorChip="matChip"
                    *ngFor="let collaborator of house.collaborators"
                    [disabled]="!houseOwner"
                    [removable]="houseOwner"
                    [selectable]="false"
                    (removed)="
                      onCollaboratorRemove(collaborator, collaboratorChip)
                    "
                  >
                    <span class="collab-login">
                      {{ collaborator.login }}
                    </span>
                    <span>{{
                      loggedInUser == collaborator._id ? " (You)" : ""
                    }}</span>
                    <mat-icon matChipRemove *ngIf="houseOwner">cancel</mat-icon>
                  </mat-chip>

                  <mat-chip
                    color="accent"
                    selected
                    *ngIf="houseOwner && house.collaborators?.length < 10"
                    (click)="onAddCollaborator()"
                  >
                    <mat-icon>add</mat-icon> new collaborator
                  </mat-chip>
                </mat-chip-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
