<div class="container-fluid">
  <div class="row h-100 justify-content-center my-1">
    <mat-card class="col-12 col-md-10 col-lg-9 col-xl-6">
      <mat-card-title
        class="row d-flex align-items-center justify-content-between"
      >
        <div class="col-12 col-sm-auto ellipsis">
          {{ house.name }}
        </div>
        <div
          class="col-12 col-sm-auto text-right text-sm-auto"
          *ngIf="houseOwner"
        >
          <button
            type="button"
            mat-icon-button
            (click)="onDeleteHouseClicked()"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-icon-button [routerLink]="['./edit']">
            <mat-icon>edit</mat-icon>
          </button>
          <button type="button" mat-raised-button (click)="onNewRoomClicked()">
            New Room
          </button>
        </div>
      </mat-card-title>
      <mat-card-subtitle class="row"
        ><div class="col-12">
          <p>{{ house.description }}</p>
        </div></mat-card-subtitle
      >
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-md-8 order-last order-sm-auto">
            <div *ngFor="let room of house.rooms">
              <p>{{ room.name }} | {{ room.description }}</p>

              <div *ngIf="houseOwner">
                <button mat-icon-button (click)="onRoomEditClicked(room._id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onRoomDeleteClicked(room._id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 order-md-last">
            <mat-card>
              <mat-card-title>Collaborators</mat-card-title>
              <mat-card-content>
                <p>{{ house.owner?.login }} (You)</p>
                <p *ngFor="let collaborator of house.collaborators">
                  {{ collaborator.login }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
