<div class="">
  <div class="row h-100 justify-content-center my-1">
    <mat-card class="col-12 col-md-10 col-lg-9 col-xl-8">
      <mat-card-title
        class="row d-flex align-items-center justify-content-between"
      >
        <div class="col-12 col-sm-auto ellipsis">
          {{ house.name }}
        </div>
        <div
          class="col-12 col-sm-auto text-right text-sm-auto"
          *ngIf="houseOwner"
        >
          <button
            type="button"
            mat-icon-button
            [routerLink]="['./edit']"
            [queryParams]="null"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            type="button"
            mat-icon-button
            (click)="onDeleteHouseClicked()"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="onNewRoomClicked()"
            *ngIf="houseOwner && house && house.rooms.length < 10"
          >
            New Room
          </button>
        </div>
      </mat-card-title>
      <mat-card-subtitle class="row"
        ><div class="col-12">
          <p>{{ house.description }}</p>
        </div></mat-card-subtitle
      >
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-lg-8 order-last order-sm-auto">
            <p *ngIf="house.rooms?.length == 0 && houseOwner">
              This house has no rooms. You can add one by clicking "New Room"
              button above.
            </p>
            <p *ngIf="house.rooms?.length == 0 && !houseOwner">
              This house has no rooms. Unfortunately only house owners can add
              new rooms.
            </p>
            <div class="mat-elevation-z3" *ngIf="house.rooms?.length > 0">
              <mat-table
                [dataSource]="roomsDataSource"
                multiTemplateDataRows
                id="room-table"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let room">
                    <span class="ellipsis">{{ room.name }}</span>
                  </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Description
                  </mat-header-cell>
                  <mat-cell *matCellDef="let room">
                    <span class="ellipsis">{{ room.description }}</span>
                  </mat-cell>
                </ng-container>

                <!-- Buttons Column-->
                <ng-container matColumnDef="buttons">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                  ></mat-header-cell>
                  <mat-cell *matCellDef="let room"
                    ><div class="col-12 my-2 text-right" *ngIf="houseOwner">
                      <button
                        mat-icon-button
                        (click)="
                          $event.stopPropagation(); onRoomEditClicked(room._id)
                        "
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        (click)="
                          $event.stopPropagation();
                          onRoomDeleteClicked(room._id)
                        "
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div></mat-cell
                  >
                </ng-container>

                <!-- Expanded Room Details Column-->
                <ng-container matColumnDef="expandedRoomDetails">
                  <mat-cell *matCellDef="let room" [attr.colspan]="3">
                    <div
                      class="row w-100 room-details"
                      [@roomDetailExpand]="
                        room == expandedRoom ? 'expanded' : 'collapsed'
                      "
                      (@roomDetailExpand.start)="roomExpanded($event)"
                    >
                      <div class="col-12 my-2">
                        <h2 class="d-flex justify-content-between">
                          <span>Room storage</span>
                          <button
                            type="button"
                            mat-raised-button
                            color="primary"
                            (click)="onAddStorageItemClicked(room)"
                          >
                            Add storage item
                          </button>
                        </h2>
                      </div>
                      <div
                        class="col-12 my-2"
                        *ngIf="room.storage?.length == 0"
                      >
                        <p>
                          This room's storage is empty, you can add items to it
                          by clicking button above.
                        </p>
                      </div>
                      <div
                        class="col-12 w-100 mb-2"
                        *ngIf="room.storage?.length > 0"
                      >
                        <mat-table
                          class="mat-elevation-z8 storage-table"
                          [dataSource]="expandedRoomStorageDataSource"
                          *ngIf="room.storage?.length > 0"
                        >
                          <!-- Name Column -->
                          <ng-container matColumnDef="expirationStatus">
                            <mat-header-cell
                              *matHeaderCellDef
                            ></mat-header-cell>
                            <mat-cell *matCellDef="let item"></mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="itemName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Item name</mat-header-cell
                            >
                            <mat-cell *matCellDef="let item">
                              <span class="ellipsis">{{ item.item.name }}</span>
                            </mat-cell>
                          </ng-container>

                          <!-- Quantity Column -->
                          <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Quantity</mat-header-cell
                            >
                            <mat-cell
                              *matCellDef="let item"
                              (click)="quantityFocusOn(item)"
                              (focusout)="quantityFocusOut(item)"
                            >
                              <span *ngIf="focusedStorageItem != item">{{
                                item.quantity
                              }}</span>
                              <app-editable-cell
                                *ngIf="focusedStorageItem == item"
                                [quantity]="item.quantity"
                                (valueChange)="
                                  onQuantityChange(room, item, $event)
                                "
                              ></app-editable-cell>
                            </mat-cell>
                          </ng-container>

                          <!-- Expiration Column -->
                          <ng-container matColumnDef="expiration">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                              >Expiration date</mat-header-cell
                            >
                            <mat-cell *matCellDef="let item">
                              {{ item.expiration | date: "d MMM yyyy" }}
                            </mat-cell>
                          </ng-container>

                          <mat-header-row
                            *matHeaderRowDef="[
                              'expirationStatus',
                              'itemName',
                              'quantity',
                              'expiration'
                            ]"
                          ></mat-header-row>
                          <mat-row
                            *matRowDef="
                              let row;
                              columns: [
                                'expirationStatus',
                                'itemName',
                                'quantity',
                                'expiration'
                              ]
                            "
                            [class.storage-alert]="isExpired(row)"
                            [class.storage-warning]="isNearlyExpired(row)"
                          ></mat-row>
                        </mat-table>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="['name', 'description', 'buttons']"
                ></mat-header-row>

                <mat-row
                  *matRowDef="
                    let row;
                    columns: ['name', 'description', 'buttons']
                  "
                  class="room-data"
                  [class.expanded]="expandedRoom === row"
                  (click)="expandedRoom = expandedRoom === row ? null : row"
                ></mat-row>
                <mat-row
                  *matRowDef="let row; columns: ['expandedRoomDetails']"
                  class="room-details-cell"
                ></mat-row>
              </mat-table>
            </div>
          </div>
          <div class="col-12 col-lg-4 order-lg-last mb-2">
            <mat-card>
              <mat-card-title class="row">
                <div class="col ellipsis">Collaborators</div>
              </mat-card-title>
              <mat-card-content class="row">
                <div class="col d-lg-none">
                  <span>{{ house.owner?.login }} (You)</span>
                  <span
                    class="ml-2"
                    *ngFor="let collaborator of house.collaborators"
                  >
                    {{ collaborator.login }}
                  </span>
                </div>
                <div class="col-12 d-none d-lg-block">
                  <p *ngIf="house.owner">{{ house.owner?.login }} (You)</p>
                  <p *ngFor="let collaborator of house.collaborators">
                    {{ collaborator.login }}
                  </p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
