@import "~@angular/material/theming";

#room-table {
  & > .mat-row:not(.room-details-cell):hover {
    background-color: #efefef;
    cursor: pointer;
  }

  & > .mat-row:not(.expanded):not(.room-details-cell):hover {
    background-color: #efefef;
  }
  .room-details-cell > .mat-cell:first-of-type {
    padding: 0;
  }
}

.expanded {
  background-color: whitesmoke;
}
.mat-row.expanded:hover {
  background-color: none;
}
.room-data {
  border-bottom-width: 0;
}

.room-details {
  overflow: hidden;
  display: flex;
}

.room-details-cell {
  min-height: 0;
}

span.collab-login {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-chip.mat-standard-chip::after {
  background: none;
}
