<div class="row h-100 justify-content-center align-items-center">
  <div class="col-12 col-md-8 col-lg-4 col-xl-3">
    <mat-card>
      <mat-card-title> Sign in </mat-card-title>
      <mat-card-subtitle>
        Want an account?
        <a
          [routerLink]="['/auth/register']"
          routerLinkActive="router-link-active"
          >Create one!</a
        >
      </mat-card-subtitle>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Login</mat-label>
                <input matInput type="text" formControlName="login" />
                <mat-error *ngIf="loginForm.get('login').hasError('required')"
                  >This field is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                >
                  <mat-icon>
                    {{ hidePassword ? "visibility" : "visibility_off" }}
                  </mat-icon>
                </button>
                <mat-error
                  *ngIf="loginForm.get('password').hasError('required')"
                  >This field is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-checkbox formControlName="remember"
                >remember me</mat-checkbox
              >
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col text-right">
              <button mat-raised-button type="submit" color="primary">
                Sign in
              </button>
            </div>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
