#barcode-scanner::ng-deep video,
canvas {
  width: 100%;
  height: auto;
}

#barcode-scanner::ng-deep video.drawingBuffer,
canvas.drawingBuffer {
  display: none !important;
  border: 3px solid #f80;
}
