<div class="row">
  <div class="col-12">
    <h2>{{ storageItem?.item.name }}</h2>
  </div>
  <div class="col-12 text-center">
    <img
      *ngIf="storageItem?.item.photo"
      [src]="this.storageItem.item.photoSafe"
      alt="item photo"
      height="150px"
    />
  </div>
  <mat-divider></mat-divider>
  <div class="col-12">
    <p>House: {{ storageItem?.house.name }}</p>
    <p>Room: {{ storageItem?.room.name }}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="col-12">
    <p>Quantity: {{ storageItem?.quantity }}</p>
    <p *ngIf="storageItem?.expiration">
      Expiration: {{ storageItem?.expiration | date: "d MMM yyyy" }}
    </p>
    <p *ngIf="storageItem?.description">
      Storage item description: {{ storageItem?.description }}
    </p>
  </div>
</div>
