@import "../../../assets/scss/mixins";
mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}
mat-toolbar,
mat-toolbar-multiple-rows {
  min-height: 64px !important;
}
mat-sidenav {
  padding-top: 64px;
  width: 250px;
}
mat-sidenav-container {
  height: 100%;
  padding-top: 64px;
}

.mat-list-item {
  @include transition(all 0.2s ease);
  &.active {
    background-color: #eee;
    @include transition(all 0.2s ease);
  }
}
