<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row w-100 justify-content-between">
      <div class="col-auto">
        <button type="button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">chevron_left</mat-icon>
        </button>
      </div>
      <div class="col-auto">
        <button type="button" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon><span>{{ loggedInUser?.login }}</span>
        </button>
        <mat-menu #menu="matMenu">
          <button type="button" mat-menu-item routerLink="/profile">
            Edit profile
          </button>
          <button type="button" mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [permanentAt]="1300" #sidenav fixedInViewport="true">
    <mat-nav-list>
      <a
        mat-list-item
        class="d-flex justify-content-between align-items-center"
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        >Dashboard</a
      >
      <a
        mat-list-item
        class="d-flex justify-content-between align-items-center"
        [routerLink]="['/items']"
        routerLinkActive="active"
      >
        Items
      </a>
      <mat-divider></mat-divider>
      <h3
        matSubheader
        class="d-flex justify-content-between align-items-center"
      >
        <span>Houses</span>
        <a [routerLink]="['/houses']">View all</a>
      </h3>
      <a
        mat-list-item
        *ngFor="let house of houseList"
        [routerLink]="['/houses/', house._id]"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>house</mat-icon>
        <h4 matLine>{{ house.name }}</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
