@import "../../../assets/scss/mixins";
mat-toolbar {
  position: fixed;
  z-index: 10;
}
mat-toolbar,
mat-toolbar-multiple-rows {
  min-height: 64px !important;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content {
  margin-top: 64px;
  padding-bottom: 100px;
}
mat-sidenav {
  width: 250px;
  margin-top: 64px;
}

.mat-list-item {
  @include transition(all 0.2s ease);
  &.active {
    background-color: #eee;
    @include transition(all 0.2s ease);
  }
}
