<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [permanentAt]="960" #sidenav>
    <mat-list>
      <h3 matSubheader>Houses</h3>
      <mat-list-item *ngFor="let house of houseList">
        <mat-icon matListIcon>house</mat-icon>
        <h4 matLine>{{ house.name }}</h4>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <div class="container my-1">
      <div class="row">
        <div class="col text-center">
          <button mat-raised-button type="button" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
